/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #e5e5e5;

}

.navbar a{
  color: black;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */


/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;


}

/* Set black background color, white text and some padding */
footer {
  background-color: #e5e5e5;
  color: black;
  padding: 0px;
  width: 100vw;
  bottom: 0;
  position: fixed;
  font-size: 14px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {

    padding: 15px;
  }

}
